.animated-enter {
    .title {
        transform: translateY(-10rem);
        @include disappear;
    }
    .subtitle {
        transform: translateX(-10rem);
        @include disappear;
    }
    .divider {
        transform: translateY(10rem);
        @include disappear;
    }
    .description {
        transform: translateX(10rem);
        @include disappear;
    }
}

.animated-enter-active, .animated-enter-done {
    .title {
        transform: translateY(0);
        @include appear;
        transition: all 1s;
    }
    .subtitle {
        transform: translateX(0);
        @include appear;
        transition: all 1s .5s;
    }
    .divider {
        transform: translateY(0);
        @include appear;
        transition: all 1s;
    }
    .description {
        transform: translateX(0);
        @include appear;
        transition: all 1s .5s;
    }
}

@keyframes floatPhoto {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes promoSubtitle {
    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes promoSubtitleCursor {
    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
        visibility: visible;
    }

    75%,
    81% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes diodButtonIn {
    0% {
        box-shadow: 0 0 1rem $main-color;
    }
    100% {
        box-shadow: none;
    }
}
@keyframes diodButtonOut {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 1rem $main-color;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(10rem);
        visibility: hidden;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes transformX {
    0% {
        transform: translateX(-50%) scale(0);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}

@keyframes loadingCircle {
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes resumeAfter {
    0% {
        height: 0;
    }
    100% {
        height: calc(100% + 14px);
    }
}

@keyframes resumeBefore {
    0% {
        width: 0;
    }
    100% {
        width: 45px;
    }
}

@keyframes resumeOpacity {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes resumeTitle {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes contactsSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showContent {
    to {
        visibility: visible;
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

@keyframes showImage {
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

@keyframes showSlider {
    to {
        width: 15rem;
    }
}

@keyframes transformSlider {
    to {
        transform: translateX(0);
    }
}

@keyframes outImage {
    to {
        width: 15rem;
        height: 22rem;
        border-radius: 3rem;
        left: 50%;
        bottom: 5rem;
    }
}

@keyframes contentOut {
    to {
        transform: translateY(-15rem);
        filter: blur(2rem);
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes changeColor {
    0% {
        background-image: linear-gradient($main-color, $main-color);
    }
    50% {
        background-image: linear-gradient($main-color, $second-color);
    }
    100% {
        background-image: linear-gradient($second-color, $second-color);
    }
}