html {
    &.active {
        color: white;

        .divider {
            background-color: $second-color;
        }

        .menu {
            &-bar {
                border: .2rem solid $second-color;
                color: $bg-color;
                background-color: $second-color;
                box-shadow: 0 0 1rem $second-color;
                &:hover {
                    box-shadow: none;
                }
            }
            &-list {
                button {
                    color: $second-color;
                    border: .2rem solid $second-color;
                    &.language {
                        &:hover {
                            color: $bg-color;
                        }
                        &::before {
                            background-color: $second-color;
                        }
                        &.active {
                            color: $bg-color;
                            &:hover {
                                color: $second-color;
                            }
                        }
                    }
                }
            }
            &.active {
                .menu {
                    &-bar {
                        color: $second-color;
                    }
                    &-list {
                        .mode {
                            box-shadow: 0 0 1rem $second-color;
                            &:hover {
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }
        .home {
            &--up {
                border: .2rem solid $second-color;
                color: $bg-color;
                background-color: $second-color;
                &::after {
                    background-color: $bg-color;
                }
            }
            &.active {
                .home {
                    &--up {
                        box-shadow: 0 0 1rem $second-color;
                        &:hover {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
        .navigation {
            background-color: $second-color;
            &__link {
                a {
                    .icon {
                        background-color: $second-color;
                        color: $bg-color;
                        &:before {
                            background-color: $bg-color;
                        }
                    }
                }
            }
            &__list {
                .indicator {
                    background-color: $second-color;
                    &:before {
                        box-shadow: 1.5rem 1.8rem $second-color;
                    }
                    &:after {
                        box-shadow: -1.5rem 1.8rem $second-color;
                    }
                }
            }
        }
        .navigation__link.active {
            a {
                .icon {
                    color: white;
                    background-color: $bg-color;
                }
            }
            &:nth-child(1) ~ .indicator {
                transform: translateX(calc(7rem * 0));
                &:before {
                    box-shadow: 2.7rem 1.8rem $second-color;
                }
            }
            &:nth-child(2) ~ .indicator {
                transform: translateX(calc(7rem * 1));
                &:before {
                    box-shadow: 1.5rem 1.8rem $second-color;
                }
            }
            &:nth-child(3) ~ .indicator {
                transform: translateX(calc(7rem * 2));
                &:before {
                    box-shadow: 1.5rem 1.8rem $second-color;
                }
            }
            &:nth-child(4) ~ .indicator {
                transform: translateX(calc(7rem * 3));
                &:after {
                    box-shadow: -2.7rem 1.8rem $second-color;
                }
            }
        }

        .promo {
            &__photo {
                &-img {
                    background-color: $bg-color;
                    transition: .5s background-color;
                }
                &-circle {
                    transition: .5s background-color;
                    background-color: $second-color;
                }
            }
            &__content {
                &-title {
                    &:before {
                        background-color: $second-color;
                    }
                }
                &-subtitle {
                    position: relative;
                    font-size: 3.2rem;
                    font-weight: 700;
                    color: transparent;
                    -webkit-text-stroke: .1rem $second-color;
                    background-image: linear-gradient($second-color, $second-color);
                    &::before {
                        border-right: .2rem solid $second-color;
                    }
                }
                &--button {
                    color: $bg-color;
                    border: .2rem solid $second-color;
                    background-color: $second-color;
                    box-shadow: 0 0 1rem $second-color;
                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }

        .resume {
            &__photo {
                &::before {
                    background-color: $second-color;
                }
            }
            &-title {
                &:before {
                    background-color: $second-color;
                }
            }
            &__column {
                &-title {
                    &::before {
                        background-color: $second-color;
                    }
                }
                ul {
                    &:before {
                        background-color: white;
                    }
                    li {
                        &:before {
                            background-color: white;
                        }
                    }
                }
            }
            .resume__item {
                &-icon {
                    &:before {
                        background-color: $second-color;
                    }
                    img {
                        filter: invert(100%);
                    }
                }
            }
        }

        .skills {
            &-title {
                &::before {
                    background-color: $second-color;
                }
            }
            &__card {
                &-front, &-back {
                    box-shadow: 2rem 2rem 2rem rgba(255, 255, 255, 0.3);
                    background-color: rgba(0, 0, 0, 0.1);
                    border-top: .1rem solid rgba(255, 255, 255, 0.3);
                    border-left: .1rem solid rgba(255, 255, 255, 0.3);
                    &-button {
                        border: .2rem solid white;
                        color: white;
                        &:hover {
                            border: .2rem solid $second-color;
                            color: $bg-color;
                            background-color: $second-color;
                            box-shadow: 0 0 1rem $second-color;
                        }
                    }
                    &::before {
                        background: radial-gradient($second-color, transparent, transparent);
                    }
                    &::after {
                        background-color: rgba(24, 34, 44, 0.75);
                    }
                }
                &-front {
                    &-icon {
                        .block {
                            background-color: white;
                        }
                        .block.active {
                            background-color: $second-color;
                            box-shadow: 0 0 1rem $second-color,0 0 2rem $second-color;
                        }
                        h3 {
                            ion-icon {
                                color: $second-color;
                            }
                        }
                    }
                }
            }
            &__ratings {
                &-title {
                    &::before {
                        background-color: $second-color;
                    }
                }
                &-line {
                    background-color: #E8E4DE;
                    span {
                        background-color: $second-color;
                    }
                }
            }
        }
        .portfolio {
            &-title {
                &::before {
                    background-color: $second-color;
                }
            }
            &__items {
                &-item {
                    .descr {
                        background: linear-gradient(rgba(46, 166, 255, 0.1), $second-color);
                        &__links {
                            a {
                                background-color: white;
                                border: .2rem solid white;
                                &::before {
                                    background-color: black;
                                }
                                &:hover {
                                    box-icon {
                                        filter: invert(0%);
                                    }
                                }
                                box-icon {
                                    filter: invert(100%);
                                }
                            }
                        }
                    }
                }
            }
            &__slide {
                button {
                    &:hover {
                        box-shadow: none;
                    }
                    background-color: $second-color;
                    box-shadow: 0 0 1rem $second-color;
                    i {
                        color: $bg-color;
                    }
                }

                
            }
        }
        .contacts {
            &__descr {
                &-title {
                    &::before {
                        background-color: $second-color;
                    }
                }
            }
            &__contact {
                span {
                    color: $second-color;
                }
            }
            &__social {
                a {
                    border: solid 0.2rem $second-color;
                    i {
                        color: $second-color;
                    }
                    &:hover {
                        background-color: $second-color;
                        box-shadow: 0 0 1rem $second-color;
                        i {
                            color: $bg-color;
                        }
                    }
                }
                
            }
            &__input {
                label {
                    background-color: $bg-color;
                }
                input {
                    // background-color: $bg-color;
                    color: white;
                    &:focus {
                        border: solid .2rem $second-color;
                        box-shadow: 0 0 1rem $second-color;
                        ~ label {
                            color: $second-color;
                        }
                    }
                }
                input:-webkit-autofill {
                    background-color: $bg-color;
                    -webkit-box-shadow: 0 0 0 3rem $bg-color inset !important;
                    -webkit-text-fill-color: white !important;
                    border-color: white !important;
                    
                }
            }
            &__textarea {
                label {
                    background-color: $bg-color;
                }
                textarea {
                    // background-color: $bg-color;
                    color: white;
                    &:focus {
                        border: solid .2rem $second-color;
                        box-shadow: 0 0 1rem $second-color;
                        ~ label {
                            color: $second-color;
                        }
                    }
                }
            }
            &__btn {
                color: $bg-color;
                background-color: $second-color;
                box-shadow: 0 0 1rem $second-color;
                &:hover {
                    box-shadow: none;
                }
            }
            &__policy {
                span {
                    a {
                        color: $second-color;
                    }
                }
                input[type="checkbox"] {
                    appearance: none;
                    cursor: pointer;
                    height: 2rem;
                    width: 2rem;
                    // background-color: $bg-color;
                    border: .1rem solid #FFF;
                    &::before {
                        background-color: $second-color;
                    }
                    &::after {
                        background-color: $second-color;
                    }
                }
            }
        }
    }
}

.color {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    clip-path: circle(0% at 89.7% 8.7%);
    transition: .5s ease-out;
    will-change: clip-path;
    &.active {
        clip-path: circle(150% at 89.7% 8.7%);
    }
}