@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -25%;
        left: 0;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 100%;
        background-color: $main-color;
        transition: .5s background-color;
    }
}

@mixin disappear {
    opacity: 0;
    visibility: hidden;
}

@mixin appear {
    opacity: 1;
    visibility: visible;
}