// $main-color: #0ef;
// $bg-color: #323946;
// $bg2-color: #1f242d;

// $main-color: #00abf0;
// $dark-color: #00abf0;
// $bg-color: #112e42;
// $bg2-color: #081b29;

$index: calc(1vw + 1vh);
$transition: cubic-bezier(.1, .7, 0, 1);

$main-color: #FFA501;
$bg-color: #18222c;
$second-color: #2ea6ff;

:root {
    --text-color: black;
}