.resume {
    &__head {
        &-title {
            @include disappear;
            position: relative;
            text-align: center;
            font-weight: 700;
            font-size: 3.6rem;
            line-height: 6rem;
            @include before_circle;
            &::before {
                top: 0em;
                left: 50%;
                transform: translateX(-50%);
                width: 1.5em;
                height: 1.5em;
            }
        }
        &-subtitle {
            @include disappear;
            font-size: 1.6rem;
            line-height: 2.4rem;
            text-align: center;
        }
    }
    &__wrapper {
        padding: 5rem 9% 2rem;
        display: grid;
        grid-template-columns: auto auto;  
        column-gap: 7rem;
        justify-content: center;
        &-photo {
            @include disappear;
            height: 100%;
            background: transparent;
            position: relative;
            border-radius: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            z-index: 1;
            &::before {
                content: '';
                position: absolute;
                width: 23.5rem;
                height: 150%;
                background-color: $main-color;
                animation: spinner 4s linear infinite;
                transition: 1s background-color;
                will-change: transform, background-color;
                filter: blur(.5rem);
            }
            img {
                position: relative;
                width: 98%;
                height: 98.7%;
                object-fit: cover;
                inset: 0 .5px;
                border-radius: 1.6rem;
            }
        }
        &-column {
            position: relative;
            &:before {
                @include disappear;
                content: '';
                position: absolute;
                width: 1.5rem;
                height: 1.5rem;
                background-color: $main-color;
                border-radius: 100%;
                left: -.7rem;
                top: 1.5rem;
            }
            ul {
                position: relative;
                list-style-type: none;
                &:before {
                    content: '';
                    width: .1rem;
                    position: absolute;
                    background-color: black;
                }
                li {
                    position: relative;
                    &:before {
                        content: '';
                        height: .1rem;
                        position: absolute;
                        background-color: black;
                        top: 45%;
                    }
                    .resume__item {
                        @include disappear;
                        position: relative;
                        &-head {
                            position: relative;
                            padding: 4.5rem 0 0 10rem;
                            h4 {
                                font-weight: 700;
                                font-size: 1.4rem;
                                line-height: 2.1rem;
                                margin-bottom: 0;
                            }
                        }
                        &-body {
                            padding-left: 4.3rem;
                            margin-top: 1.2rem;
                            font-size: 1.2rem;
                            line-height: 1.8rem;     
                        }
                        &-icon {
                            position: absolute;
                            top: 5rem;
                            left: 4.5rem;
                            @include before_circle;
                            img {
                                position: absolute;
                                left: 1.7rem;
                                top: 1.4rem;
                                filter: invert(0%);
                                transition: .5s filter;
                                will-change: filter;
                            }
                        }
                        &-location {
                            font-size: 1.2rem;
                            line-height: 1.8rem;
                            margin-top: .5rem;
                        }
                    }
                }
            }
        }
    }
    .animated-enter & {
        &__wrapper {
            &-column {
                &:before {
                    @include disappear;
                }
                .list {
                    &__item {
                        .resume__item {
                            @include disappear;
                        }
                    }
                }
            }
        }
    }
    .animated-enter-active, .animated-enter-done & {
        &__wrapper {
            &-column {
                &:before {
                    animation: in .5s forwards;
                }
                .list {
                    &:before {
                        animation: resumeAfter var(--totalDuration) .5s forwards linear;
                    }
                    &__item {
                        .resume__item {
                            @include disappear;
                        }
                        &.animated {
                            &:before {
                                animation: resumeBefore .5s .5s forwards;
                            }
                            .resume__item {
                                animation: in .5s 1s forwards;
                            }
                        }
                    }
                }
            }
        }
    }
}
.column {
    &-title {
        @include disappear;
        position: relative;
        font-size: 2rem;
        line-height: 3rem;
        padding-left: 3.5rem;
        top: .7rem;
    }
}