.promo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__photo {
        position: relative;
        opacity: 0;
        &-img {
            width: 30vw;
            background-color: white;
            border-radius: 50%;
            animation: floatPhoto 4s ease-in-out infinite;
            transition: .5s background-color;
            will-change: transform, background-color;
        }
        &-circle {
            top: -2.5%;
            left: -2.5%;
            position: absolute;
            width: 105%;
            height: 105%;
            background-color: $main-color;
            transition: .5s background-color;
            border-radius: 50%;
            animation: floatPhoto 4s ease-in-out infinite;
            filter: blur(1rem);
            will-change: transform, background-color;
        }
    }    
    &__content {
        max-width: 60rem;
        .divider {
            margin: 2.5rem 0;
        }
        &-title {
            position: relative;
            font-size: 5.6rem;
            font-weight: 700;
            line-height: 1.3;
            opacity: 0;
            @include before_circle;
            &::before {
                top: -.2em;
                left: -.4em;
                width: 1.5em;
                height: 1.5em;
            }
        }
        .wrapper-subtitle {
            opacity: 0;
        }
        &-subtitle {
            position: relative;
            font-size: 3.2rem;
            font-weight: 700;
            color: transparent;
            -webkit-text-stroke: .1rem $main-color;
            background-image: linear-gradient($main-color, $main-color);
            background-repeat: no-repeat;
            background-clip: text;
            background-position: -33rem 0;
            animation: promoSubtitle 6s linear infinite;
            animation-delay: 2s;
            will-change: background-position;
            transition: 1s opacity;
            &::before {
                content: '';
                position: absolute;
                inset: 0;
                height: 100%;
                border-right: .2rem solid $main-color;
                z-index: -1;
                animation: promoSubtitleCursor 6s linear infinite;
                animation-delay: 2s;
                will-change: width, opacity;
            }
        }
        &-description {
            opacity: 0;
            font-size: 1.6rem;
            margin: 2rem 0 4rem;
        }
        &--button {
            cursor: pointer;
            opacity: 0;
            position: relative;
            display: inline-flex;
            width: 20rem;
            height: 5rem;
            justify-content: center;
            align-items: center;
            color: white;
            border: .2rem solid $main-color;
            background-color: $main-color;
            border-radius: 3rem;
            font-size: 1.8rem;
            font-weight: 600;
            letter-spacing: .1rem;
            z-index: 1;
            overflow: hidden;
            transition: .5s color;
            box-shadow: 0 0 1rem $main-color;
            transition: .5s box-shadow, .5s color, .5s background-color, .5s border;
            will-change: color, background-color, box-shadow, border;
            &:hover {
                box-shadow: none;
            }
        }
    }
    .animated & {
        &__photo {
            animation: zoomIn 1s 1s ease forwards;
        }
        &__content {
            &-title {
                animation: slideBottom 1s ease forwards;
            }
            &-description {
                animation: slideLeft 1s .5s ease forwards;
            }
            .wrapper-subtitle {
                animation: slideRight 1s .5s ease forwards;
            }
            &--button {
                animation: slideTop 1s 1s ease forwards;
            }
        }
    }
}