.portfolio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    &-title {
        position: relative;
        text-align: center;
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 6rem;
        @include before_circle;
        &::before {
            top: 0em;
            left: 50%;
            transform: translateX(-50%);
            width: 1.5em;
            height: 1.5em;
        }
    }
    &-subtitle {
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
    }
    // &-head {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    // }
    &__items {
        transition: transform .5s ease;
        display: flex;
        gap: .4rem;
        perspective: calc($index * 35);
        @media (min-width: 769px) {
            &:not(.active) {
                .portfolio__items-item {
                    &:hover {
                        transform: translateZ(calc($index * 10));
                        filter: inherit;
                        & + * {
                            transform: translateZ(calc($index * 8.5)) rotateY(35deg);
                            filter: inherit;
                            z-index: -1;
                            & + * {
                                transform: translateZ(calc($index * 5.6)) rotateY(40deg);
                                filter: inherit;
                                z-index: -2;
                                & + * {
                                    transform: translateZ(calc($index * 2.4)) rotateY(30deg);
                                    z-index: -3;
                                    filter: inherit;
                                    & + * {
                                        transform: translateZ(calc($index * .6)) rotateY(14deg);
                                        z-index: -4;
                                        filter: inherit;
                                    }
                                }
                            }
                        }
                    }
                    &:has(+ :hover) {
                        transform: translateZ(calc($index * 8.5)) rotateY(-35deg);
                        filter: inherit;
                    }
                    &:has(+ * + :hover) {
                        transform: translateZ(calc($index * 5.6)) rotateY(-40deg);
                        filter: inherit;
                    }
                    &:has(+ * + * + :hover) {
                        transform: translateZ(calc($index * 2.4)) rotateY(-30deg);
                        filter: inherit;
                    }
                    &:has(+ * + * + * + :hover) {
                        transform: translateZ(calc($index * .6)) rotateY(-14deg);
                        filter: inherit;
                    }
                }
            }
        }
        &-item {
            position: relative;
            border-radius: 3rem;
            background-color: $main-color;
            width: calc($index * 3);
            height: calc($index * 12);
            background-size: cover;
            background-position: center;
            cursor: pointer;
            transition: transform 1.25s $transition, filter 3s $transition, width 1.25s $transition, opacity .5s ease , visibility .5s ease ;
            will-change: transform, filter, width, opacity, visibility;
            filter: grayscale(100%) brightness(.7);
            overflow: hidden;
            .img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                inset: 0;
                border-radius: 3rem;
            }
            .descr {
                border-radius: 3rem;
                position: absolute;
                background: linear-gradient(rgba(0, 0, 0, .1), $main-color);
                inset: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: end;
                align-items: center;
                flex-direction: column;
                padding: 0 2rem;
                transform: translateY(100%);
                transition: .5s all ease;
                opacity: 0;
                visibility: hidden;
                &-title {
                    font-size: 2em;
                }
                &-text {
                    font-size: 1.3rem;
                    margin: .3rem 0 1rem;
                }
                &__links {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1rem;
                    gap: 2rem;
                    a {
                        position: relative;
                        width: 4rem;
                        height: 4rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        background-color: black;
                        border: .2rem solid black;
                        border-radius: 100%;
                        transition: .5s;
                        overflow: hidden;
                        z-index: 1;
                        &::before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: #FFF;
                            z-index: 0;
                            scale: 1 0;
                            transform-origin: bottom;
                            transition: scale .5s ease;
                        }
                        &:hover {
                            &::before {
                                scale: 1 1;
                            }
                            box-icon {
                                filter: invert(100%);
                                transform: rotateY(360deg);
                            }
                        }
                        box-icon {
                            transition: .5s ease;
                            z-index: 3;
                        }
                    }
                }
            }

            &.active {
                width: 20vw;
                transform: translateZ(calc($index * 10));
                filter: inherit;
                z-index: 2;
                margin: .45vh;
                & + * {
                    transform: translateZ(calc($index * 8.5)) rotateY(35deg);
                    filter: inherit;
                    z-index: -1;
                    & + * {
                        transform: translateZ(calc($index * 5.6)) rotateY(40deg);
                        filter: inherit;
                        z-index: -2;
                        & + * {
                            transform: translateZ(calc($index * 2.4)) rotateY(30deg);
                            z-index: -3;
                            filter: inherit;
                            & + * {
                                transform: translateZ(calc($index * .6)) rotateY(14deg);
                                z-index: -4;
                                filter: inherit;
                            }
                        }
                    }
                }
                &:hover {
                    .descr {
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &:has(+ .active) {
                transform: translateZ(calc($index * 8.5)) rotateY(-35deg);
                filter: inherit;
            }
            &:has(+ * + .active) {
                transform: translateZ(calc($index * 5.6)) rotateY(-40deg);
                filter: inherit;
            }
            &:has(+ * + * + .active) {
                transform: translateZ(calc($index * 2.4)) rotateY(-30deg);
                filter: inherit;
            }
            &:has(+ * + * + * + .active) {
                transform: translateZ(calc($index * .6)) rotateY(-14deg);
                filter: inherit;
            }

            &::after, &::before {
                content: '';
                position: absolute;
                width: 2rem;
                height: 100%;
                right: calc($index * -1);
            }
            &::after {
                left: calc($index * -1);
            }
        }
    }
    &__slide {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        width: 20rem;
        button {
            background-color: $main-color;
            height: 5rem;
            width: 5rem;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0 0 1rem $main-color;
            transition: box-shadow .5s, 1s background-color;
            &:hover {
                box-shadow: none;
            }
            &.end {
                box-shadow: none;
            }
            i {
                font-size: 5rem;
                color: white;
                transition: 1s color;
            }
        }
    }
}
