.policy {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    &__header {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    &__container p{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}